/* * {
    border: solid red 2px;
} */

html {
    box-sizing: border-box;
  }

body {
    font-family: 'Roboto', sans-serif;
}

/* -- HEADER SECTION --  */

.header {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    padding: 10px;
    color: #ffffff;
}

a:link, a:visited, a:hover, a:active { 
    color: #ffffff;
    text-decoration: none;
    margin: 10px;
  }

.header-links {
    align-content: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;

}

/* -- HERO SECTION --  */

.hero {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-around;
}

.herocontainer {
    height: auto;
    width: 600px;
    margin: 30px;
}

.hero-image {
    align-content: center;
}

.hero-header {
    font-size: 46px;
    font-weight: 900;
    margin: 10px;
}

.hero-text {
    margin: 10px;
}

button {
    color: #F9FAF8;
    background-color: #3882F6;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    margin: 10px;
    padding: 10px 20px;
}

/* -- SECTION 1 - IMAGE BLOCKS --  */

.section1 {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    margin: 20px 20px 70px 20px;
}

.sectiontitle {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    margin: 20px;
}

.block {
    height: 200px;
    width: 200px;
    flex-shrink: 0;
    flex-grow: 0;
    margin: 10px 10px 30px;
}

.photogrid {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0px 400px;
    padding: 20px;
}

.watch-image {
    border: solid 4px #3882F6;
    border-radius: 10px;
    width: 200px;
    height: 200px;
}

.photo-text {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
    text-align: center;
    font-style: italic;
}

/* -- SECTION 2 - QUOTE BLOCK --  */

.section2 {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
}

.pullquote {
    align-content: center;
    font-style: italic;
    text-align: justify;
    font-size: 20pt;
    color: #1F2937;
    margin: 55px 200px 10px;
}

.attrib {
    text-align: right;
    font-style: italic;
    font-size: 20pt;
    font-weight: 700;
    color: #1F2937;
    margin: 0px 200px 40px;
}

/* -- CALL TO ACTION --  */

.cta {
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
}

.learnbox {
    display: flex;
    color: #ffffff;
    background-color: #3882F6;
    height: auto;
    width: auto;
    /* flex-grow: 3; */
    margin: 55px 120px;
    border-radius: 10px;
    justify-content: space-evenly;
    align-items: center;
}

.cta-box {
    margin: 20px;
}

.cta-header {
    font-size: 20pt;
    font-weight: 900;
    padding: 10px 0px;
}

.cta-sub {
    font-size: 15pt;
    font-weight: 200;
}

.cta-button {
    border: solid white 2px;
    align-self: middle;
    display: flex;
}

/* -- FOOTER - you may not even need this if you use the same declarations as the header --  */

.footer {
    background-color: #1F2937;
    text-align: center;
    padding: 10px;
    color: #ffffff;
}